.hovertext {
    position: relative;
}
.bg-info{
    background-color: rgba(255,255,255,1) !important;
}
.btn{
    width: 70%;
}
.hovertext {
    color: rgb(0, 0, 0) !important;
    font-size: .7em;
    font-weight:lighter;
}
.hovertext:hover {
    color: red;
}
.navbar-brand {
    /* color:rgb(202, 202, 82) !important;
    background: -webkit-linear-gradient(45deg,rgb(245, 245, 219),rgb(153, 155, 22),rgb(215, 218, 50),rgb(245, 245, 219),rgb(181, 184, 53)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-text-stroke: .5pt rgba(0,0,0,.2); */
  color: black;
  font-weight: bolder;

  display: none;
}
  
.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 7rem;
    background-color: rgba(228, 228, 228, 1);
    color: black;
    text-align: center;
    border-radius: .3rem;
    padding: .2rem .2rem;
    transition: opacity .4s ease-in-out;

    font-size: .7em;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 100%;
}
  
.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}
.nav-link:active {
    color: rgb(206, 190, 98) !important;
}
.navbar-toggler {
    background-color: rgb(211, 211, 211);
}
.navbar-nav {
    margin-left: 12%;
}
